/* Apply a common font-family to all elements */
body, * {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

/* Set the background color for the body */
body {
    box-sizing: border-box; /* Adjust box-sizing to border-box for consistency */
    background: #D0D0D0;
    background-image: url(assets/comic-backgorund-escuro.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dd4e50;
    height: 70px;
    width: 100%;
    /* position:fixed; */
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the navigation */
nav {
    width: 500px;
    height: 100%;
}

@media (max-width: 800px){
    .div-logo h2{
        display: none;
    }
}

/* Style the logo container */
.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
}

/* Style the logo image */
.div-logo img {
    width: 50px;
    height: 50px;
}

/* Style the logo image */
.div-logo h2 {
    color:white;
    font-size: 20px;
}

/* Style the top list container */
#top-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    list-style: none;
}

@media (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    #top-list{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 100%;
        height: 100%;
        background: #dd4e50;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50;
    }
    #top-list.active{
        transform: translateX(0);
    }
    #top-list a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-logo{
        z-index: 1;
    }
    .mobile-menu{
        display: block !important;
        z-index: 10;
    }
    #top-list li{
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
/* Style the top list links */
#top-list a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}
#top-list a:hover{
    color: #ffc0c0;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.886);
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px)
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px)
}


/* Style the login container */
.div-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 400px;
}


/* Style the who we are section*/
.comic-reader-welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #e9ebeaf0;
    color: #2f2f2f;
}
.comic-reader-welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
    color: #2f2f2f;
}

/*Style the who we are logo and slogan*/
#logo-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Style the logo*/
#logo-slogan img {
    height: 180px;
    width: auto;
    animation: bn53round 10s infinite;
}

@keyframes bn53round {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-20deg);
    }
  
    30% {
      transform: scale(1.1) rotate(360deg);
    }
  
    35% {
      transform: scale(1) rotate(-5deg);
    }
  
    40% {
      transform: scale(1) rotate(0deg);
    }
  
    50% {
      transform: scale(1) rotate(0);
    }
}

/*Style the slogan title*/
#logo-slogan h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

/*Style the slogan text*/
#logo-slogan h2 {
    font-weight: 300;
    font-style: italic;
    color: #dd4e50;
}

/*Style the slogan UP text*/
#up-text-underline {
    text-decoration: underline;
    font-size: 25px;
}

@media (max-width: 800px) {
    #comic-reader-welcome-text{
        display: none;
    }
}

/*Style the who we are text*/
.comic-reader-welcome-text-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

/*Style the who we are text description*/
.comic-reader-welcome-text-class p {
    width: 90%;
    font-size: 20px;
    line-height: 1.5;
}

.product {
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1)
}

.product img {
    max-width: 200px;
    height: 150px;
}

/* Style the who we are section*/
.most-selled-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 350px;
    color: #2f2f2f;
    margin: 10px 0 0 0;
    background-color: #000000a5;
    border-radius: 20px;
    
}

.most-selled-items{
    width: 100%;
}

@media (max-width: 800px){
    .most-selled-items h1{
        font-size: 18px;
    }
}


#top-sellers-books{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}


#top-sellers-accessories{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
#top-sellers-accessories img{
    border-radius: 5px;
}


/*Style the how it works text*/
.most-selled-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #dd4e50;
    color: white;
    border-radius: 50px;
}

/* Style the how it works title */
.most-selled-items h1{
    font-weight: bolder;
    padding: 10px 0 10px 20px;
}
.most-selled-items h2{
    padding: 10px 20px 10px 0;
    font-weight: lighter;
    font-size: 15px;
}
.most-selled-items a{
    text-decoration: none;
    color: white;
}

/*Style the how it works text description*/
.most-selled-items p {
    width: 90%;
    font-size: 20px;
    line-height: 1.5;
}

/* Style the up your life section */
.register-button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #D0D0D0;
    color: #2f2f2f;
    margin-top: 20px;
}
/* Style the up your life section logo */
.register-button-section img{
    width: auto;
    height: 200px;
}

@media (max-width:800px){
    .register-button-text{
        width: 300px;
    }
    .register-button-text h1{
        font-size: 17px;
    }
    #up-text-underline{
        font-size: 18px;
    }
}

/* Style the up your life button div */
.register-button-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Style the up your life button div button */
.register-button-text button{
    width: 150px;
    animation: bn53bounce 4s infinite;
}

/* Style the subscribe button */
.button-inscrever {
    width: 120px;
    height: 45px;
    color: white;
    background-color: #dd4e50;
    border: none; /* Simplify border style */
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.button-inscrever:hover {
    color: #dd4e50;
    background-color: #ffc0c0;
    
}

@keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
}

@media(max-width:800px){
    .about-platform-section{
        display: none !important;
    }
}

.about-platform-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #e9ebeaf0;
    color: #2f2f2f;
}

#about-platform-text {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/*Style the how it works classes images*/
#universes-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

/* Style the teacher image */
#universe-image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

#first-image-universe {
    width: 100%; /* Set the width to 100% to fill the container horizontally */
    height: 100%; /* Set the height to auto to maintain the original aspect ratio */
    object-fit: cover;
    
}

/*Style the who we are text description*/
#about-platform-text p {
    width: 90%;
    font-size: 20px;
    line-height: 1.5;
}

.expectation-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #D0D0D0;
    color: #2f2f2f;
}
#expectation-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 20px 0 0 0;
}
.expectation-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.expectation-items{
    display: flex;
    align-items: center;
    width: 90%;
}

@media(max-width: 800px){
    
    .expectation-items{
        width: 90% !important;
    }
    
    .expectation-items img{
        width: 25px !important;
        height: 25px !important;
    }

    .expectation-content{
        background-color: #D0D0D0;
    }

    .expectation-title h1{
        font-size: 20px !important;
    }

    #expectation-explorer h2{
        font-size: 20px;
    }
}

.expectation-items img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#expectation-explorer{
    margin: 30px 0 0 20px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 800px){
    .pg-footer{
        margin-top: 20px;
    }
}

.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      color: #fff;
      background-color: #00000096;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #D0D0D0;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #dd4e50;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #dd4e50;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
    height: 34px;
    left: 58px;
    top: 1px;
    width: 34px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 28px;
      left: 175px;
      top: 7px;
      width: 28px;
  }
  
  .footer-copyright {
      background-color: #dd4e50;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }